@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@600&display=swap');

body{
  background-color: #002855;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  height: 6em;
  justify-content: space-around;
  align-items: center;
  /* border: 5px solid #002855; */
  margin-bottom: 2em;
  border-radius: 50px;
  background: linear-gradient(145deg, #002b5b, #00244d);
  box-shadow:  20px 20px 60px #00152c,
              -20px -20px 60px #003b7e;
}

header > button {
  align-items: center;
  background: #002855;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

button:hover {
  background: #f8f8ff;
  color: #002855;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

.nav-logo{
  height: 5em;
  border: 3px solid #002855;
  border-radius: 5px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
}

.home-container{
  background-color: #002855;
  min-width: 100vh;
  min-height: 100vh;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.home{
  display: grid;
  align-items: center;
  top: 30%; 
  color: #d3d3d3;
  position: fixed;
}


.logo {
  grid-column-start: 1;
  text-align: center;
  width: 150px;
  height: 150px;
  margin-right: -30px;
  margin-left: 50px;
}

.phrase {
  grid-column-start: 2;
  margin-left: 50px;
  width: 50px;
  text-align: center;
  font-size: x-small;
}


.button-52,
.banner > button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid lightgray;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: darkgray;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

  .forum-list{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;    
    gap: 20px;
  }

.card {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  color: rgb(228, 226, 226);
  height: 350px;
  width: 300px;
  padding: 30px;
  border-radius: 50px;
  background: linear-gradient(145deg, #00244d, #002b5b);
  box-shadow:  20px 20px 38px #00152d,
               -20px -20px 38px #003b7d;
}

.card:hover {
  border-color: #2e5a88;
  color: #2e5a88;
  cursor: pointer;
}

.card-img-top{
  height: 233px;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.card-img-top:hover {
  border-color: #2e5a88;
}

.card-text{
  margin: 10px;
  text-align: center;
}

.description {
  font-size: smaller;
}

.banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 99%;
  height: 10%;
  justify-items: center;
  margin-bottom: 20px;
  border-radius: 25px;
  background: linear-gradient(315deg, #002b5b, #00244d);
  box-shadow:  -20px -20px 33px #001022,
              20px 20px 33px #004088;
}

.banner > * {
  height: 50px;
  color: white;
}

.banner > button:hover {
  color: #002855;
  background-color: white;
}

.banner-img-top {
  grid-row: 1;
  border-radius: 5px;
  height: 10em;
  width: 10em;
}

.banner-body{
  grid-row: 1;
  grid-column: 2/4;
}

.banner-edit{
  grid-column: 2;
  width: 200px;
}

.banner-post{
  grid-column: 1;
  width: 200px;
}

.post-images{
  height: 10em;
  width: 10em;
  justify-self: center;
}

.post-card-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
}

.post-card{
  height: 200px;
  width: 20vh;
  overflow: hidden;
}


.forum-form{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.forum-form-fields {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: center;
  border: 2px solid black
}

@media (min-width: 768px) {
  header > button {
    padding: 24px;
  }

  .button-52 {
    padding: 13px 50px 13px;
  }

  .home{
    display: flex;
    align-items: center;
    width: 600px;
    height: 600px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -375px;
    margin-top: -300px;
    font-family: 'Montserrat', sans-serif;
    color: #d3d3d3;
    font-size: medium;
  }

  .logo {
    width: 300px;
    height: 300px;
  }

  .phrase {
    margin-left: 50px;
    width: 50px;
    text-align: center;
    font-size: large;
  }

  .forum-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
  }

  .post-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .post-card{
    height: 200px;
    width: 25vh;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  header > button {
    padding: 4px;
  }

  header > button {
    box-shadow: -3px -3px 10px 0 #fff,3px 3px 10px 0 #1d0dca17;
  }

  header > button:hover {
    background: #f8f8ff;
    color: #002855;
    box-shadow: -3px -3px 10px 0 #fff,3px 3px 10px 0 #1d0dca17;
  }

  .nav-logo {
    height: 1em;
    box-shadow: -3px -3px 10px 0 #fff,3px 3px 10px 0 #1d0dca17;
  }
}